<div id="cookie-table" class="vue-admin-table">
    <div class="main element-index">
        <a class="skip-link btn" href="#footer">{{ 'Skip to {title}'|t('app', { title: 'Footer'|t }) }}</a>
        <div class="elements busy">
            <div class="update-spinner spinner spinner-absolute"></div>
        </div>
    </div>
</div>
