#cookieModal,
#cookiebanner {
    position: fixed;
    width: 100%;
    padding: 16px;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#cookieModal > div, #cookiebanner > div {
    background: #fff;
    padding: 24px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
#cookieModal .actions, #cookiebanner .actions {
    margin: 30px 0 0;
    display: flex;
    justify-content: center;
}
#cookieModal .actions a,
#cookieModal .actions button,
#cookiebanner .actions a,
#cookiebanner .actions button {
    margin: 0 16px;
}
#cookieModal form > div {
    margin: 16px 0;
}

#cookiebanner-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
    z-index: 99;
}